<style type="text/css">
    <!--
    .panel {
      width: 100%;
      height: 120px;
    }
    .radius {
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      width: 100%;
      height: 100%;
      border: border: 2px solid #999;
      margin-top: 20px;
      border-sizing: border-box;
      padding: 5px;
    }
	.notyet {
      background-color: gray;
	}
	.answered {
      background-color: blue;
	}
	.opend {
      background-color: blue;
	}
	.notyet span {
	  color: white;
	}
	.answered span {
	  color: white;
	}
	.opend span {
	  color: white;
	}
    -->
    </style>

<div class="col-xs-3 panel">
  <div id="panel" class="radius" style="text-align:center">
    <span id="id" style="font-size: 20px;"></span>
    <br />
    <span id="answer" style="font-size: 60px;"></span>
  </div>
</div>

