<div class="form-group">
  <label for="quiz">クイズ</label>
  <textarea id="quiz" class="form-control" rows="8"></textarea>
</div>
<div class="form-group">
  <label for="answer1">回答1</label>
  <input id="answer1" type="text" class="form-control"></input>
</div>
<div class="form-group">
  <label for="answer2">回答2</label>
  <input id="answer2" type="text" class="form-control"></input>
</div>
<div class="form-group">
  <label for="answer3">回答3</label>
  <input id="answer3" type="text" class="form-control"></input>
</div>
<button id="question" type="submit" class="btn btn-default form-control">質問する</button>
<br />
<br />
<br />
<br />
<button id="open" type="submit" class="btn btn-default form-control">オープン</button>
