<div class="form-group">
  <label for="name">名前</label>
  <input id="name" type="text" class="form-control"></input>
</div>
<div class="form-group">
  <label for="quiz">クイズ</label>
  <div id="quiz" class="form-control" rows="8"></div>
</div>
<div class="form-group">
  <label>答える</label>
  <button id="answer1" class="btn btn-default form-control"></button>
</div>
<div class="form-group">
  <button id="answer2" class="btn btn-default form-control"></button>
</div>
<div class="form-group">
  <button id="answer3" class="btn btn-default form-control"></button>
</div>
